/* header css */
.navigation {
  border: none;
  padding: 1rem 5rem;
  position: sticky;
  z-index: 9;
  left: 0;
  top: 0;
  background-color: #fcfcfc;
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 0.8rem;
}

.nav-left button {
  padding: 6px 5px;
  margin: 5px 25px;
  letter-spacing: 0;
}

.nav-center input {
  width: 350px;
}

.nav-right a {
  color: black;
}

/* carousel slider css */
#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* categories css */
.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.category-container img {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  opacity: 0.8;
}

.category-box {
  position: relative;
  cursor: pointer;
}

.lift {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.lift:hover {
  top: -10px;
}

.category-title {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

/* products section */
.section-title {
  margin: 3.2rem 0;
  text-align: center;
  color: var(--dark-gray);
}

.product-section-container {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  margin: 0 1rem;
}

.grid-item img {
  height: 250px;
}

.grid-item-price {
  color: var(--dark-color);
}

/* footer css */
.footer {
  margin-top: 2rem;
}

.footer-body {
  background-color: #e5e7eb;
  color: #4b5563;
  text-align: center;
  padding: 1.8rem;
  font-size: 1.1rem;
}

/* media queries */

@media screen and (max-width: 820px) {
  /* nav */
  .navigation {
    padding: 1rem;
  }
  .nav-left .nav-logo {
    font-size: 1.2rem;
  }

  .nav-left span {
    font-size: 0.8rem;
  }
  .navigation .nav-left button {
    display: none;
  }

  /* product card sec */
  .product-section-container {
    width: 90%;
  }

  .grid-col-3 {
    grid-template-columns: 1fr;
  }
}
